<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="PlanVO" type="com.app.bewodeurim.domain.plan.PlanVO"/>
        <typeAlias alias="PaymentVO" type="com.app.bewodeurim.domain.payment.PaymentVO"/>
        <typeAlias alias="PlanDTO" type="com.app.bewodeurim.domain.plan.PlanDTO"/>

    </typeAliases>
</configuration>