<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
<!--        <setting name="jdbcTypeForNull" value="NULL" />-->
    </settings>
    <typeAliases>
        <typeAlias alias="PlanVO" type="com.app.bewodeurim.domain.plan.PlanVO"/>
        <typeAlias alias="PaymentVO" type="com.app.bewodeurim.domain.payment.PaymentVO"/>
        <typeAlias alias="PaymentDTO" type="com.app.bewodeurim.domain.payment.PaymentDTO"/>
        <typeAlias alias="PlanDTO" type="com.app.bewodeurim.domain.plan.PlanDTO"/>
        <typeAlias type="com.app.bewodeurim.domain.member.MemberVO" alias="memberVO"/>
        <typeAlias type="com.app.bewodeurim.domain.member.MemberDTO" alias="memberDTO"/>
        <typeAlias type="com.app.bewodeurim.domain.pickup.DriverPickUpDTO" alias="driverPickupDTO"/>
        <typeAlias type="com.app.bewodeurim.domain.driver.DriverVO" alias="driverVO"/>
        <typeAlias type="com.app.bewodeurim.domain.driver.DriverDTO" alias="driverDTO"/>
        <typeAlias type="com.app.bewodeurim.domain.pickup.PickupDTO" alias="pickupDTO"/>
        <typeAlias type="com.app.bewodeurim.domain.area.RegionDTO" alias="regionDTO"/>
        <typeAlias type="com.app.bewodeurim.domain.area.RegionVO" alias="RegionVO"/>
    </typeAliases>

</configuration>