<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>나의 상담 내역</title>
        <link rel="stylesheet" href="/css/one-to-one/my_counsel.css" />
    </head>
    <body>
        <div id="container">
            <div id="wrap">
                <!-- 처음 모달 창 -->
                <div id="wrap-container">
                    <div
                        class="pop-layer pop-alert"
                        id="pop-alert2"
                        style="display: flex"
                    >
                        <div class="dim"></div>
                        <div class="pop-wrap">
                            <div class="pop-content v3">
                                <p>
                                    1:1 문의는 회원만 이용이 가능합니다.<br />
                                    로그인 하시겠습니까?
                                </p>
                                <div class="btn-wrap">
                                    <a
                                        href="javascript:void(0);"
                                        class="btn-type v3"
                                        >취소</a
                                    >
                                    <a href="/login" class="btn-type"
                                        >로그인하기</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section id="content" class="section-inquiry">
                    <div class="inner">
                        <div class="page-header side">
                            <h2 class="page-title">나의 상담 내역</h2>
                            <div class="location">
                                <a href="/" class="home"
                                    ><span class="hidden">HOME</span></a
                                >
                                <a href="/customer/helpDesk"> 고객센터 </a>
                                <a href="javascript:void(0)"> 1:1 상담문의 </a>
                                <strong> 상담문의 </strong>
                            </div>
                        </div>
                        <section class="inner-box">
                            <div class="tab-wrap">
                                <ul class="tab-type js_tab">
                                    <li>
                                        <a
                                            href="javascript:void(0)"
                                            class="choice"
                                            >상담문의</a
                                        >
                                    </li>
                                    <li class="active">
                                        <a
                                            href="javascript:void(0)"
                                            onclick="goView()"
                                            class="choice"
                                            >나의 상담내역</a
                                        >
                                    </li>
                                </ul>
                            </div>
                            <!-- 나의 상담 목록 -->
                            <ul class="board-type3 v2">
                                <div id="faqListHtml">
                                    <li
                                        class="board-item"
                                        id="board-item"
                                        style="display: block"
                                    >
                                        <dl>
                                            <dt>
                                                <a
                                                    href="javascript:void(101019109);"
                                                    class="js_accordion"
                                                    id="js_accordion101019109"
                                                >
                                                    <span class="tag-type2 v3"
                                                        >공통</span
                                                    >
                                                    <p>
                                                        요금제변경을 하고
                                                        싶어요.
                                                    </p>
                                                    <i class="ico-up3"></i>
                                                </a>
                                            </dt>
                                            <dd id="faqDetail">
                                                <p></p>
                                                <p>
                                                    요금제 변경 신청은 온라인
                                                    또는 고객센터를 통해
                                                    가능합니다.
                                                    <br /><!--<br>온라인은 '마이페이지 &gt; 서비스 조회/변경 &gt; 요금제 변경' 메뉴를 통해 접수하시면 확인 후 처리해 드립니다.<br>-->단,
                                                    요금제 변경 시 프로모션
                                                    할인혜택 등은 소멸되며
                                                    변경하는 요금제에 적용은
                                                    불가합니다.
                                                    <br /><br />또한, 월 중 변경
                                                    시 이용하는 요금제의 사용일
                                                    수에 따라 각 요금제 별로
                                                    기본료 또는 제공량이 일할
                                                    계산되어 제공됩니다.
                                                    <br />기본제공량 초과 시
                                                    초과요금이 과다 청구될 수
                                                    있으니 월말, 월초에 변경신청
                                                    하는 걸 권장합니다.<br />&nbsp;
                                                </p>
                                                <p>
                                                    프리티 내 다른 통신망
                                                    요금제로 변경도 불가하며,
                                                    선불요금제&gt;후불요금제로
                                                    변경도 불가하니 참조하세요!
                                                </p>
                                                <p></p>
                                            </dd>
                                        </dl>
                                    </li>
                                </div>
                            </ul>
                            <!-- 아무것도 없을 때 -->
                            <div id="noListHtml">
                                <div class="nodata-box">
                                    <div class="icon-box">
                                        <i class="ico-empty"></i>
                                    </div>
                                    <p>등록된 상담내역이 없습니다.</p>
                                </div>
                            </div>
                            <div class="btn-wrap v3">
                                <a
                                    href="javascript:showMore()"
                                    class="btn-type3"
                                    id="moreBtn"
                                    >더보기</a
                                >
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </body>
    <script src="/js/one-to-one/my_counsel.js"></script>
</html>
