<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/login/mobile_login.css" />
        <title>로그인 | MY | 비워드림 모바일</title>
    </head>
    <body style="overflow: visible">
    <form th:action="@{/login/mobile_login}" method="post" name="login-form" th:object="${driverDTO}">
        <div id="mobile-wrap" class="mobile-wrap-main">
            <div id="mobile-container">
                <section id="mobile-content" class="mobile-section-login">
                    <div class="mobile-inner">
                        <div class="mobile-page-header t-c">
                            <div class="mobile-location">
                                <a href="" class="mobile-home">
                                    <span class="mobile-hidden">HOME</span>
                                </a>
                                <strong>로그인</strong>
                            </div>
                            <h2 class="mobile-page-title v2">로그인</h2>
                            <p class="mobile-sub-title">
                                로그인하시고 비워드림의 다양한 서비스를
                                이용하세요
                            </p>
                        </div>
                        <div class="mobile-login-wrap">
                            <div class="mobile-form-box">
                                <div class="mobile-form-item">
                                    <input
                                        type="text"
                                        placeholder="&nbsp;"
                                        id="userid"
                                        name="userid"
                                        th:field="*{memberEmail}"
                                    />
                                    <label  class="mobile-title"
                                        >아이디</label
                                    >
                                </div>
                                <div class="mobile-form-item">
                                    <input
                                        type="password"
                                        placeholder="&nbsp;"
                                        id="password"
                                        name="password"
                                        th:field="*{memberPassword}"
                                    />
                                    <label for="password" class="mobile-title"
                                        >비밀번호</label
                                    >
                                    <i class="mobile-ico-eye"></i>
                                </div>
                                <div class="mobile-btn-wrap-login">
                                    <a
                                        href=""
                                        class="mobile-btn-type-login"
                                        id="mobileBtnLogin"
                                        >로그인</a
                                    >
                                </div>
                                <div class="mobile-form-bottom">
                                    <div class="mobile-check-box-1">
                                        <input
                                            type="checkbox"
                                            id="saveid"
                                            name="save"
                                            value="true"
                                        />
                                        <label
                                            class="checkbox"
                                            for="saveid"
                                        ></label>
                                        <label for="saveid">아이디저장</label>
                                    </div>
                                    <div
                                        class="mobile-check-box-2"

                                        style="display: none"
                                    >
                                        <input
                                            type="checkbox"
                                            id="mobile-rememberMe"
                                            name="mobile-rememberMe"
                                        />
                                        <label
                                            class="checkbox"
                                            for="mobile-rememberMe"
                                            name="mobile-rememberMe"
                                        ></label>
                                        <label
                                            >자동로그인</label
                                        >
                                    </div>
                                    <ul class="mobile-list-type-1">
                                        <li>
                                            <a href="">아이디 찾기</a>
                                        </li>
                                        <li>
                                            <a href="">비밀번호 찾기</a>
                                        </li>
                                    </ul>
                                </div>
                                <div
                                    class="mobile-form-bottom-mobilewrap"
                                    style="display: none"
                                >
                                    <ul class="mobile-list-type-2">
                                        <li>
                                            <a href="">아이디 찾기</a>
                                        </li>
                                        <li>
                                            <a href="">비밀번호 찾기</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div
                                class="mobile-btn-wrap-join"
                                id="mobile-joinwrap"
                            >
                                <a
                                    href=""
                                    class="mobile-btn-type-join"
                                    id="joinText"
                                >
                                    신규 회원가입
                                    <i class="mobile-ico-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div
                class="mobile-pop-layer-1"
                id="mobile-pop-alert"
                style="display: none; z-index: 999"
            >
                <div class="mobile-pop-dim"></div>
                <div class="mobile-pop-wrap">
                    <div class="mobile-pop-content">
                        <p id="mobile-pop-alert-msg">
                            아이디가 입력되지 않았습니다
                        </p>
                        <div class="mobile-pop-btn-wrap">
                            <a
                                href=""
                                id="mobile-pop-alert-confirm"
                                class="mobile-pop-btn-type"
                                >확인</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </body>
    <script src="/js/login/mobile_login.js"></script>
    <script th:inline="javascript">
        const save = [[${save}]];
        const saveInput = document.querySelector("input[name=save]");
        if(save) {
            saveInput.checked = true;
        }
    </script>
</html>
