<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common/common.css" />
    <link rel="stylesheet" href="/css/payment/payment.css" />
    <link rel="stylesheet" href="/css/payment/payment-section2.css" />
    <link rel="stylesheet" href="/css/payment/payment-section3.css" />
    <link rel="stylesheet" href="/css/payment/payment-section4.css" />
    <link rel="shortcut icon" href="https://www.freet.co.kr/static/assets/favicons/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://www.freet.co.kr/assets/css/font.css?v=20240726" />
    <title>결제 완료</title>
</head>
<body>
<div id="wrap" class="wrap-main">
    <div class="container">
        <section id="content" class="section-usim bottom">
            <div class="inner">
                <!--주문 완료 -->
                <section class="content-wrap" id="section-step5">
                    <section class="usim-wrap">
                        <div class="step-wrap">
                            <ol>
                                <li class="done">
                                    <i class="num">1<em class="max">/5</em></i>
                                    <strong>요금제 선택</strong>
                                </li>
                                <li class="done">
                                    <i class="num">2<em class="max">/5</em></i>
                                    <strong>약관동의</strong>
                                </li>
                                <li class="done">
                                    <i class="num">3<em class="max">/5</em></i>
                                    <strong>결제</strong>
                                </li>
                                <li class="active">
                                    <i class="num">4<em class="max">/5</em></i>
                                    <strong>결제 완료</strong>
                                </li>
                            </ol>
                            <span class="bar" style="width: 80%"></span>
                        </div>
                        <div class="title-wrap">
                            <div class="motion-img">
                                <img src="https://www.freet.co.kr/assets/images/motion/paying.gif" />
                            </div>
                            <h3 class="title-type">결제가 완료되었습니다</h3>
                        </div>
                        <div class="chk-list-custom"></div>
                        <div class="btn-fixed-wrap">
                            <div class="btn-wrap">
                                <a href="javascript:void(0)" class="btn-type">결제 내역 보기</a>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </section>
    </div>
</div>
<script src="/js/payment/payment.js"></script>
</body>
</html>
