<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bewodeurim.mapper.inquiry.InquiryMapper">

    <insert id="insert">
        INSERT INTO TBL_INQUIRY (ID, MEMBER_ID, INQUIRY_TYPE, INQUIRY_TITLE, INQUIRY_CONTENT)
        VALUES (SEQ_INQUIRY.NEXTVAL, #{memberId}, #{inquiryType}, #{inquiryTitle}, #{inquiryContent})
    </insert>

    <select id="selectByMemberId" resultType="com.app.bewodeurim.domain.inquiry.InquiryDTO">
        SELECT * FROM (
        SELECT A.*, ROWNUM RNUM
        FROM (
        SELECT INQUIRY_TITLE, INQUIRY_CONTENT, CREATED_DATE
        FROM TBL_INQUIRY
        WHERE MEMBER_ID = #{memberId}
        ORDER BY ID DESC
        ) A
        <![CDATA[
        WHERE ROWNUM <= #{pagination.endRow}
        )
        WHERE RNUM >= #{pagination.startRow}
        ]]>
    </select>

    <select id="selectTotal" resultType="int">
        SELECT COUNT(*) FROM TBL_INQUIRY
    </select>

    <insert id="insertInquiry" parameterType="InquiryDTO">
        INSERT INTO TBL_INQUIRY (ID, MEMBER_ID, INQUIRY_TITLE, INQUIRY_CONTENT, INQUIRY_TYPE, CREATED_DATE, UPDATED_DATE)
        VALUES (SEQ_INQUIRY.NEXTVAL, #{memberId}, #{inquiryTitle}, #{inquiryContent}, #{inquiryType}, SYSDATE, SYSDATE)
    </insert>

    <select id="selectAllInquiries" resultType="com.app.bewodeurim.domain.inquiry.InquiryDTO">
        SELECT ID, MEMBER_ID, INQUIRY_TITLE, INQUIRY_CONTENT, INQUIRY_TYPE, CREATED_DATE, UPDATED_DATE
        FROM TBL_INQUIRY
        ORDER BY CREATED_DATE DESC
    </select>
</mapper>