<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bewodeurim.mapper.member.MemberMapper">
    <insert id="insertMemberInfo">
        <selectKey keyProperty="id" order="BEFORE" resultType="long">
               SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_MEMBER (ID, MEMBER_NAME, MEMBER_EMAIL, MEMBER_ADDRESS_CODE, MEMBER_ADDRESS_BASIC, MEMBER_ADDRESS_DETAIL, MEMBER_PHONE_NUMBER, MEMBER_PASSWORD)
        VALUES (#{id},#{memberName},#{memberEmail},#{memberAddressCode},#{memberAddressBasic},#{memberAddressDetail},#{memberPhoneNumber},#{memberPassword})
    </insert>

    <select id="selectByMemberEmailAndMemberPassword" resultType="memberVO">
        SELECT ID, MEMBER_NAME, MEMBER_EMAIL, MEMBER_ADDRESS_CODE, MEMBER_ADDRESS_BASIC, MEMBER_ADDRESS_DETAIL, MEMBER_PHONE_NUMBER, MEMBER_PASSWORD FROM TBL_MEMBER
        WHERE MEMBER_EMAIL = #{memberEmail} AND MEMBER_PASSWORD = #{memberPassword}
    </select>
</mapper>