<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.PaymentMapper">
    <insert id="save">
        INSERT INTO TBL_PAYMENT (ID, MEMBER_ID, PLAN_ID, PAYMENT_PRICE, PAYMENT_STATUS, CREATED_DATE, UPDATED_DATE)
        VALUES (SEQ_PAYMENT.NEXTVAL, #{memberId}, #{planId}, #{paymentPrice}, 'SUCCESS', SYSDATE, SYSDATE)
    </insert>


</mapper>
