<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bewodeurim.mapper.pickup.PickupMapper">
    <insert id="insert">
        INSERT INTO TBL_PICKUP(ID, PICKUP_NUMBER, MEMBER_ID, PICKUP_SCHEDULE, PICKUP_ENTER, PICKUP_REQUEST_CONTENT, PICKUP_STATUS)
        VALUES (SEQ_PICKUP.NEXTVAL, #{pickupNumber}, #{memberId}, #{pickupSchedule}, #{pickupEnter}, #{pickupRequestContent}, #{pickupStatus})
    </insert>

    <select id="selectById" resultType="com.app.bewodeurim.domain.pickup.PickupDTO">
        SELECT
        P.ID,
        P.PICKUP_NUMBER,
        P.MEMBER_ID,
        P.DRIVER_ID,
        P.PICKUP_SCHEDULE,
        P.PICKUP_ENTER,
        P.PICKUP_REQUEST_CONTENT,
        P.PICKUP_STATUS,
        P.CREATED_DATE,
        P.UPDATED_DATE,
        M.MEMBER_ADDRESS_CODE,
        M.MEMBER_ADDRESS_BASIC,
        M.MEMBER_ADDRESS_DETAIL,
        PL.PLAN_PRICE,
        PL.PLAN_GRADE,
        PL.PLAN_BOX_SIZE,
        PL.PLAN_DELIVERY_FEE,
        PL.PLAN_MAX_MEMBERS
        FROM TBL_PICKUP P
        JOIN TBL_MEMBER M ON P.MEMBER_ID = M.ID
        JOIN TBL_PAYMENT PA ON M.ID = PA.MEMBER_ID
        JOIN TBL_PLAN PL ON PA.PLAN_ID = PL.ID
        WHERE P.ID = #{id}
    </select>

    <select id="selectAll" resultType="com.app.bewodeurim.domain.pickup.PickupDTO">
        SELECT P2.ID, P2.MEMBER_ID, P2.DRIVER_ID, P2.PICKUP_NUMBER, P2.PICKUP_SCHEDULE, P2.PICKUP_ENTER, P2.PICKUP_REQUEST_CONTENT, P2.PICKUP_STATUS, P2.CREATED_DATE, P2.UPDATED_DATE, P2.MEMBER_ADDRESS_CODE, P2.MEMBER_ADDRESS_BASIC, P2.MEMBER_ADDRESS_DETAIL, P2.PLAN_PRICE, P2.PLAN_GRADE
        FROM (
               SELECT ROWNUM R, P1.ID, P1.MEMBER_ID, P1.DRIVER_ID, P1.PICKUP_NUMBER, P1.PICKUP_SCHEDULE, P1.PICKUP_ENTER, P1.PICKUP_REQUEST_CONTENT, P1.PICKUP_STATUS, P1.CREATED_DATE, P1.UPDATED_DATE, P1.MEMBER_ADDRESS_CODE, P1.MEMBER_ADDRESS_BASIC, P1.MEMBER_ADDRESS_DETAIL, P1.PLAN_PRICE, P1.PLAN_GRADE
                FROM (
                       SELECT P.ID, P.MEMBER_ID, P.DRIVER_ID, P.PICKUP_NUMBER, P.PICKUP_SCHEDULE, P.PICKUP_ENTER, P.PICKUP_REQUEST_CONTENT, P.PICKUP_STATUS, P.CREATED_DATE, P.UPDATED_DATE,
                       M.MEMBER_ADDRESS_CODE, M.MEMBER_ADDRESS_BASIC, M.MEMBER_ADDRESS_DETAIL, PL.PLAN_PRICE, PL.PLAN_GRADE
                       FROM TBL_PICKUP P
                       JOIN TBL_MEMBER M ON M.ID = P.MEMBER_ID
                       JOIN TBL_PAYMENT PA ON M.ID = PA.MEMBER_ID
                       JOIN TBL_PLAN PL ON PA.PLAN_ID = PL.ID AND DRIVER_ID IS NULL
                       ORDER BY
                       <choose>
                           <when test="order == 'recent'.toString()">P.ID DESC</when>
                           <otherwise>PL.PLAN_PRICE DESC</otherwise>
                       </choose>
                      ) P1
                        <![CDATA[
                        WHERE ROWNUM <= #{pagination.endRow}
               ) P2
                WHERE P2.R >= #{pagination.startRow}
                ]]>
    </select>

    <select id="mySelectAll" resultType="com.app.bewodeurim.domain.pickup.PickupDTO">
        SELECT P2.ID, P2.MEMBER_ID, P2.DRIVER_ID, P2.PICKUP_NUMBER, P2.PICKUP_SCHEDULE, P2.PICKUP_ENTER, P2.PICKUP_REQUEST_CONTENT, P2.PICKUP_STATUS, P2.CREATED_DATE, P2.UPDATED_DATE, P2.MEMBER_ADDRESS_CODE, P2.MEMBER_ADDRESS_BASIC, P2.MEMBER_ADDRESS_DETAIL, P2.PLAN_PRICE, P2.PLAN_GRADE
        FROM (
            SELECT ROWNUM R, P1.ID, P1.MEMBER_ID, P1.DRIVER_ID, P1.PICKUP_NUMBER, P1.PICKUP_SCHEDULE, P1.PICKUP_ENTER, P1.PICKUP_REQUEST_CONTENT, P1.PICKUP_STATUS, P1.CREATED_DATE, P1.UPDATED_DATE, P1.MEMBER_ADDRESS_CODE, P1.MEMBER_ADDRESS_BASIC, P1.MEMBER_ADDRESS_DETAIL, P1.PLAN_PRICE, P1.PLAN_GRADE
            FROM (
                    SELECT P.ID, P.MEMBER_ID, P.DRIVER_ID, P.PICKUP_NUMBER, P.PICKUP_SCHEDULE, P.PICKUP_ENTER, P.PICKUP_REQUEST_CONTENT, P.PICKUP_STATUS, P.CREATED_DATE, P.UPDATED_DATE,
                    M.MEMBER_ADDRESS_CODE, M.MEMBER_ADDRESS_BASIC, M.MEMBER_ADDRESS_DETAIL, PL.PLAN_PRICE, PL.PLAN_GRADE
                    FROM TBL_PICKUP P
                    JOIN TBL_MEMBER M ON M.ID = P.MEMBER_ID
                    JOIN TBL_PAYMENT PA ON M.ID = PA.MEMBER_ID
                    JOIN TBL_PLAN PL ON PA.PLAN_ID = PL.ID
                    WHERE DRIVER_ID = #{driverId}
                    ORDER BY
                    <choose>
                        <when test="order == 'recent'.toString()">P.ID DESC</when>
                        <otherwise>PL.PLAN_PRICE DESC</otherwise>
                    </choose>
                ) P1
                <![CDATA[
                    WHERE ROWNUM <= #{pagination.endRow}
            ) P2
            WHERE P2.R >= #{pagination.startRow}
               ]]>
    </select>


    <select id="selectTotal">
        SELECT COUNT(*) FROM TBL_PICKUP
        WHERE DRIVER_ID IS NULL
    </select>

    <select id="mySelectTotal">
        SELECT COUNT(*) FROM TBL_PICKUP
        WHERE DRIVER_ID = #{driverId}
    </select>

    <update id="update">
        UPDATE TBL_PICKUP
        SET PICKUP_SCHEDULE = #{pickupSchedule}, PICKUP_ENTER=#{pickupEnter}, PICKUP_REQUEST_CONTENT=#{pickupRequestContent},
            PICKUP_STATUS =#{pickupStatus}, UPDATED_DATE = SYSDATE
        WHERE ID = #{id}
    </update>
</mapper>